doctype html
html
  head
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/resizeHandle.css")
    link(rel="stylesheet",href="/styles/dialogs.css")
    link(rel="stylesheet",href="/styles/properties.css")
    link(rel="stylesheet",href="index.css")

  body
    canvas(tabindex="0")

    .sidebar
      table.properties
        tr
          th(colspan="2")= t("bmfontEditor:title")
          tr
            th= t("bmfontEditor:fontFile.title")
            td
              button.uploadFnt= t("common:actions.upload")
              form(style="display: none")
                input.fnt-select(type="file",accept=".fnt")
          tr
            th= t("bmfontEditor:bitmapFile.title")
            td
              button.uploadBmp= t("common:actions.upload")
              form(style="display: none")
                input.bmp-select(type="file",accept=".png")
        tr
          th(colspan="2")= t("bmfontEditor:rendering")
          tr
            th= t("bmfontEditor:renderingType.title")
            td
              select.property-renderingType
                option(value="bitmap")= t("bmfontEditor:renderingType.bitmap")
                option(value="sdf")= t("bmfontEditor:renderingType.sdf")
                option(value="msdf")= t("bmfontEditor:renderingType.msdf")
          tr
            th= t("bmfontEditor:filtering.title")
            td
              select.property-filtering
                option(value="nearest")= t("bmfontEditor:filtering.nearest")
                option(value="linear")= t("bmfontEditor:filtering.linear")
          tr
            th= t("bmfontEditor:color")
            td
              .inputs
                input.color.property-color
                input(type="color").color-picker
          tr
            th= t("bmfontEditor:opacity.title")
            td
              select.opacity-select
                option(value="opaque")= t("bmfontEditor:opacity.opaque")
                option(value="transparent")= t("bmfontEditor:opacity.transparent")
              .inputs(hidden)
                input(type="range",min="0",max="1",step="0.01",style="flex: 2;").opacity-slider
                input(type="number",min="0",max="1",step="0.01").property-opacity
        tr
          th(colspan="2")= t("bmfontEditor:layoutSettings")
          tr
            th= t("bmfontEditor:pixelsPerUnit")
            td
              input(type="number").property-pixelsPerUnit
          tr
            th= t("bmfontEditor:characterSpacing")
            td
              input(type="number").property-characterSpacing
          tr
            th= t("bmfontEditor:lineSpacing")
            td
              input(type="number").property-lineSpacing

    script(src="/SupCore.js")
    script(src="../../../../../SupEngine.js")
    script(src="/SupClient.js")
    script(src="../../bundles/data.js")
    script(src="index.js")
